* {
  box-sizing: border-box
}

/*************************
       BACKGROUNDS
*************************/

#beginning,
#about {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#beginning {
  background: url("img/cosmic.jpg") no-repeat center center fixed;  
  padding-top: 3em;
}

#about {
  background: url("img/about.jpg") no-repeat center center fixed; 
  height: 100%;
  padding: 20px 0 40px 0px;
  margin: -16px -15px 0 -15px;
}

.card {
   background: url("img/bg.jpg") no-repeat center center fixed; 
  background-size: cover;
}


hr {
  background: white; 
}

#florence {
  border-radius: 100%;
}

p {
  font-size: 1.15em;
  line-height: 1.4;
}

h1, 
h2, 
h3,
h4 {
  font-family: Rosarivo, serif;
  font-weight: bold;
}

/*************************
      MEDIA QUERIES
*************************/

@media (max-width: 576px) {
  body {
   font-size: 16px; 
  }
  .title {
   font-size: 2rem; 
  }
}



